<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alsing.SyntaxBox" version="1.4.10.1" targetFramework="net45" />
  <package id="DockPanelSuite" version="2.10.0" targetFramework="net45" />
  <package id="FCTB" version="2.16.11.0" targetFramework="net45" />
  <package id="ILRepack.Lib" version="2.0.10" targetFramework="net45" />
  <package id="ILRepack.MSBuild.Task" version="1.0.9" targetFramework="net35" />
  <package id="Jint" version="2.9.1" targetFramework="net45" />
  <package id="NiL.JS" version="2.3.950" targetFramework="net45" />
  <package id="PacketDotNet" version="0.13.0" targetFramework="net35" />
  <package id="SharpPcap" version="4.2.0" targetFramework="net35" />
</packages>